h1 {
	color : white;
	font-family : impact;
	font-size : 400%;
}

.maintext {
	font-size: 200%;
	font-family: ;
	position: absolute;
	top: 40%;
	left: 45%;
}

.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 25px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.button:hover {
  background-color: grey;
}

body {
	background-image: url("Setup.jpg");
}

img {
	border-radius: 12px;
}
